.logo {
  font-family: 'Pacifico', cursive;
}

.rightFade::after {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 100%);
    content: ' ';
    display: block;
    position: absolute;
    right: -20px;
    top: 0px;
    width: 50px;
    height: 100%;
    text-align: center;
    z-index: 1;
}